.message{
    // border: 1px solid black;
    min-width: 1%;
    max-width: 50%;
    height:auto;
   
    border-radius: 0.41rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.4rem;
    flex-wrap: wrap;
    word-break:break-all;
    margin: 0.3rem 0;
    border: none;
}



.receiver{

    box-shadow: 0 0 5px rgba(0,0,0,0.35);
    align-self: flex-start;
    background-color: white;

}

.sender{

    align-self: flex-end;
    background: linear-gradient(to bottom,rgba(255, 173, 115,0.8),#FFC8A1);
    box-shadow: 0 0 5px #f2a571;

}